{% extends 'base.html' %}

{% block content %}

<div class="form block">
    <h2 class="title">Group creation</h2>
    <form method="post" class="form-group">
        {% csrf_token %}

        {{ form.as_p }}
        <div class="field">
            <div class="control">
                <button name="save" type="submit" class="btn btn-success">Submit</button>
                <a href="{% url 'home_view' %}" class="btn btn-danger">Cancel</a>
            </div>
        </div>
    </form>
</div>

{% endblock %}